<form action="" class="col-md-4 offset-3 mt-4 card card-body">
    <div class="card card-body">
        
    <h1> Please Login</h1>
                
    <div class="form-group" >
    <input type="text" class="text" placeholder="enter email">
    </div>
    <div class="form-group">
    <input type="password" class="text" placeholder="enter password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary float-right">login</button>
    </div>
    </div>
</form>
