<form action="" class="col-md-4 offset-4 mt-5 card card-body" #forms="ngForm" (ngSubmit)="updateProductData(forms)">
    <h1 class="text-center bg-primary text-white">Update Product</h1>
    <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Product Name" #name="ngModel"
            ngModel required>
        <div *ngIf="name.touched && name.invalid">
            <p class="alert alert-danger" *ngIf="name.errors.required">*This Field is required</p>
        </div>
        <div class="form-group">
            <input type="text" name="category" id="category" class="form-control" placeholder="Enter Product Category"
                #category="ngModel" ngModel required>
            <div *ngIf="category.touched && category.invalid">
                <p class="alert alert-danger" *ngIf="category.errors.required">*This Field is required</p>
            </div>
            <div class="form-group">
                <input type="text" name="company" id="company" class="form-control" placeholder="Enter company"
                    #name="ngModel" ngModel required>
                <div *ngIf="company.touched && company.invalid">
                    <p class="alert alert-danger" *ngIf="company.errors.required">*This Field is required</p>
                </div>
            </div>

            <div class="form-group">
                <input type="number" name="quantity" id="quantity" class="form-control"
                    placeholder="Enter Product Quantity...." #quantity="ngModel" ngModel required>
                <div *ngIf="quantity.touched && quantity.invalid">
                    <p class="alert alert-danger" *ngIf="quantity.errors.required">*This Field is required</p>
                </div>
            </div>
            <div class="form-group">
                <input type="number" name="price" id="price" class="form-control" placeholder="Enter Price"
                    #price="ngModel" ngModel required>
                <div *ngIf="price.touched && price.invalid">
                    <p class="alert alert-danger" *ngIf="price.errors.required">*This Field is required</p>
                </div>
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary float-right" [disabled]="forms.invalid">Update
                Product</button>
        </div>
    </div>



</form>